html {
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 60px;
  text-align: center;
  overflow-x: hidden;
  background-color: var(--color-element-bg);
}

body,
footer,
.popup-section {
  max-width: 425px;
  margin-right: auto;
  margin-left: auto;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

#main-content {
  display: block;
}

main {
  padding: 16px;
}

@font-face {
  font-family: 'GreatVibes';
  src: url('../assets/fonts/GreatVibes.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayFair';
  src: url('../assets/fonts/CormorantGaramond-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
p,
.labell,
.countdown-label,
#guest-count,
#guest-count-no,
.guest-count-label,
.time,
.event {
  color: var(--color-text);
}

h1 {
  font-family: 'PlayFair', sans-serif;
  font-size: 1.6em;
  margin: 5px 0;
}
h2 {
  font-family: 'PlayFair', sans-serif;
  font-size: 1.3em;
  margin: 3px 0;
}
h3 {
  font-family: 'Poppins';
  font-size: 1em;
  margin: 8px 0;
}
p {
  font-size: 0.9em;
  margin: 4px 0;
}
h1,
h2,
h3,
p,
.labell,
.countdown-label,
#guest-count,
#guest-count-no,
.guest-count-label,
.time,
.event {
  color: var(--color-primary);
}

.h3-main {
  font-family: 'PlayFair', sans-serif;
  margin: 0px 0;
  font-size: 1.2rem;
  margin: 8px 0;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.countdown {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.countdown-label {
  color: #000;
}

.countdown-box {
  flex: 1 1 10%;
  padding: 10px;
  border-radius: 6px;
  background-color: var(--color-button-bg);
}
.countdown-box h2 {
  color: var(--color-button-bg);
}

#guest-count {
  color: #000;
}

#guest-count-no {
  color: #000;
}

.guest-count-label {
  color: #000;
}

#navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  z-index: 3000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.nav-links {
  text-align: center;
  font-size: 14px;
  flex: 1;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
}

#navigation span {
  display: block;
  font-size: 12px;
  margin-top: 4px;
}

input,
textarea,
button,
select {
  padding: 10px;
  font-size: 1em;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

input,
textarea,
select {
  border-radius: 6px;
  border: 1px solid;
}

button {
  background-color: white;
  color: black;
  border: 1px solid;
  border-radius: 6px;
  margin-top: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.hadir-submit {
  width: 100%;
}

.close {
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 0%;
}

section {
  padding: 10vh 0;
  margin: 0;
  border-top: 1px solid #e4ddd3;
  border-bottom: 1px solid #e4ddd3;
}

.short {
  padding: 0vh 0 10vh 0;
}

.shorter {
  padding: 5vh 0;
}

#wrapper {
  max-width: 425px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.popup-section {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 55%;
  background: #fff;
  z-index: 2000;
  padding: 20px 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  text-align: center;
  animation: slideUp 0.3s ease;
}

.popup-section.active {
  display: block;
}

.popup-section:nth-of-type(3) {
  height: 70%;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.popup-overlay.active {
  display: block;
}

.popup-section form {
  text-align: left;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input,
form select,
form textarea {
  margin-bottom: 10px;
}

.labell {
  font-size: 1em;
  color: black;
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  max-width: 425px;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.carousel {
  display: flex;
  transform: none !important;
  overflow: visible;
}

.carousel img {
  min-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  flex-shrink: 0;
}

.dots {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 4px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #888;
}

.timeline-text {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
  align-items: center;
}

.timeline-row {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.timeline-row:nth-of-type(1) {
  border-top: 1px solid #ccc;
}

.time {
  font-weight: bold;
  margin-bottom: 4px;
  color: #000;
}

.event {
  color: #000;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 425px;
  margin: 0 auto;
}

.contact-link {
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

.contact-box {
  width: 80%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  border: 1px solid;
  border-radius: 6px;
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.2s;
  text-align: left;
}

.wa-icon {
  width: 24px;
  height: 24px;
}
.map-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.map-btn {
  background-color: white;
  color: black;
  border: 1px solid;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 0px;
  font-size: 1em;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.2s;
}

.rsvp-btn {
  margin-top: 5%;
}

#rsvp-form {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.timeline li {
  width: 80%;
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

.timeline li:nth-of-type(1) {
  border-top: 1px solid #ccc;
}

.timeline li div {
  margin: 5px 0;
}

.nav-icon {
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 auto;
}

.ucapan-scroll {
  min-height: 300px;
  max-height: 350px;
  overflow: auto;
  position: relative;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 60%;
  margin: 0 auto;
}

#ucapan-list {
  max-height: 200px;
  overflow-y: hidden;
  padding-right: 10px;
}

.ucapan-scroll p {
  margin: 0;
  padding: 8px 0;
  font-size: 16px;
  animation: scroll-up 20s linear infinite;
  text-align: center;
  color: black;
}

@keyframes scroll-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

#music-btn {
  background: white;
  border: none;
  position: fixed;
  top: 50px;
  right: 20px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.8s ease, opacity 0.3s ease;
}

#music-btn.hide {
  transform: translateY(-100px);
  opacity: 0;
  pointer-events: none;
}

#music-icon {
  width: 24px;
  height: 24px;
}
.intro-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 246, 228);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.5s ease;
}

.intro-inner {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;
  background-attachment: scroll;
  background-color: rgb(255, 246, 228);
  background-blend-mode: screen;
}

#enter-btn {
  width: 180px;
  height: 180px;
  font-size: 18px;
  background-color: transparent;
  color: black;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  box-shadow: none;
  padding: 0;
}

#enter-btn.animate-exit {
  transform: translateY(200px);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    pointer-events: none;
  }
}

.kehadiran {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid;
  margin: 10px auto;
  display: block;
}

.popup-overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-overlay1 img {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@keyframes pulse-highlight {
  0%,
  100% {
    background-color: white;
    color: #000000;
    transform: scale(1);
  }
  50% {
    background-color: black;
    color: white;
    border: 4px solid black;
    transform: scale(1.09);
  }
}

.rsvp-highlight {
  animation: pulse-highlight 5s infinite;
  transition: all 1.8s ease;
}

@keyframes pulse-highlight {
  0%,
  100% {
    background-color: white;
    color: black;
    transform: scale(1);
  }
  50% {
    background-color: #000000;
    color: white;
    border: 4px solid #000000;
    transform: scale(1.09);
  }
}

@keyframes border-pulse {
  0%,
  100% {
    border-width: 1px;
  }
  50% {
    border-width: 2px;
    scale: 1.3;
  }
}

.animated-border {
  border: 2px solid black;
  animation: border-pulse 4s infinite;
  transition: border-width 0.8s ease;
}

.container {
  position: relative;
}

.top-right-bg {
  position: absolute;
  top: 0;
  right: -130px;
  width: 60%;
  opacity: 0.8;
  pointer-events: none;
  z-index: 0;
  transform: scaleX(-1);
  transform: scaleY(-1);
}

.top-left-bg {
  position: absolute;
  top: 0;
  left: -100px;
  width: 60%;
  opacity: 0.8;
  pointer-events: none;
  z-index: 0;
  transform: scaleX(-1);
}

.bottom-right-bg {
  position: absolute;
  bottom: 0;
  right: -120px;
  width: 60%;
  opacity: 0.8;
  pointer-events: none;
  z-index: 0;
}

.bottom-left-bg {
  position: absolute;
  bottom: 0;
  left: -50px;
  width: 60%;
  opacity: 0.8;
  pointer-events: none;
  z-index: 0;
  transform: scaleX(-1);
}

.custom-top-left-bg {
  position: absolute;
  top: 0;
  left: -90px;
  width: 60%;
  opacity: 0.8;
  pointer-events: none;
  z-index: 0;
}

.custom-bottom-left-bg {
  position: absolute;
  bottom: 0.01;
  left: -150px;
  width: 60%;
  opacity: 0.8;
  pointer-events: none;
  z-index: 0;
  transform: scaleX(-1);
}

.customm-bottom-left-bg {
  position: absolute;
  bottom: 0;
  left: -130px;
  width: 60%;
  opacity: 0.8;
  pointer-events: none;
  z-index: 0;
  transform: scaleX(-1);
}

.confirm-popup {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  background: white;
  border-radius: 6px;
  padding: 20px;
  text-align: center;
  z-index: 5000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.confirm-popup.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.popup-buttons {
  margin-top: 15px;
}

.popup-buttons button {
  text-align: center;
  margin: 5px 10px;
  padding: 8px 10px;
}

#speech {
  resize: none;
  overflow: hidden;
  width: 100%;
  height: 100px;
}
